$rosewater: #f5e0dc;
$flamingo: #f2cdcd;
$mauve: #ddb6f2;
$pink: #f5c2e7;
$maroon: #e8a2af;
$red: #f28fad;
$peach: #f8bd96;
$yellow: #fae3b0;
$green: #abe9b3;
$teal: #b5e8e0;
$blue: #96cdfb;
$sky: #89dceb;
$lavender: #c9cbff;

$black0: #161320;
$black1: #1a1826;
$black2: #1e1e2e;
$black3: #302d41;
$black4: #575268;
$gray0: #6e6c7e;
$gray1: #988ba2;
$gray2: #c3bac6;
$white: #d9e0ee;

.menu_btn {
  width: 10%;
}

.header {
  border-bottom: 1px solid $white;
  background-color: $black4;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.catppuccin {
  display: none;
}

.bar {
  display: block;
  width: 30px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: $black4;
}

.navmenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.navitem {
  margin-left: 5rem;
}

.navlink {
  font-size: 1rem;
  font-weight: 400;
  color: $lavender;
  text-transform: uppercase;
  list-style: none;
}

.navlink:hover {
  color: $mauve;
}

.navlogo {
  font-size: 2.1rem;
  font-weight: 500;
}

@media only screen and (max-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
  }

  .navmenu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: $black3;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
  }

  .navmenu.active {
    left: 0;
  }

  .navitem {
    margin: 2.5rem 0;
  }

  .catppuccin {
    display: block;
    cursor: pointer;
    background-color: transparent;
    border-radius: 10px;
    width: 10%;
    align-items: flex-end;
    justify-content: flex-end;
  }

  .catppuccin.active .bar:nth-child(2) {
    opacity: 1;
  }

  .catppuccin.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
  }

  .catppuccin.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
  }
}

.footer {
  font-size: 1.5rem;
  align-items: center;
  justify-content: center;
}

.container {
  // min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
